[submodule "vendor/geiser"]
	path = vendor/geiser
	url = http://git.sv.gnu.org/r/geiser.git
[submodule "vendor/haskell-mode"]
	path = vendor/haskell-mode
	url = https://github.com/pheaver/haskell-mode.git
[submodule "vendor/mark-multiple"]
	path = vendor/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "vendor/expand-region"]
	path = vendor/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "vendor/solarized-theme"]
	path = vendor/solarized-theme
	url = https://github.com/bbatsov/solarized-emacs.git
[submodule "vendor/ack-and-a-half"]
	path = vendor/ack-and-a-half
	url = https://github.com/jhelwig/ack-and-a-half.git
